 {% extends "header.html" %} {% block body %}
<div class="container" style="height: 700px; background-color:  white; width:60%; color:darkcyan;">
  <h1 class='text-center mb-3' style=>Comparison: Latitude vs X</h1>
  <div class="row">
    <div class="col-sm-6" >
      <h2>vs. Max Temerature</h2>
    </div>
    <div class="col-sm-6">
      <h2>vs. Humidity</h2>
    </div>
  </div>
  <div class="row">
    <img src="http://via.placeholder.com/180x180" class="rounded mx-auto img-thumbnail" alt="...">
    <img src="http://via.placeholder.com/180x180" class="rounded mx-auto img-thumbnail" alt="...">
  </div>

  <div class="row" style="color:darkcyan">
    <div class="col-sm-6">
      <h2>vs. Cloudiness</h2>
    </div>
    <div class="col-sm-6">
      <h2>vs. Wind Speed</h2>
    </div>
  </div>
  <div class="row">
    <img src="http://via.placeholder.com/180x180" class="rounded mx-auto img-thumbnail" alt="...">
    <img src="http://via.placeholder.com/180x180" class="rounded mx-auto img-thumbnail" alt="...">
  </div>



</div>
{% endblock %}