 {% extends "header.html" %} {% block body %}
 <div class="container">
    <div class="row">
        <div class="col-sm-7" style="background-color: white; min-height: 400px;">
            <h1 class='text-center mb-3' style="color: darkcyan;">Max Temperature</h1>
            <img src="http://via.placeholder.com/400x280" class="img-thumbnail float-center" alt="great stuff" style="border-width:1px; border-color: darkcyan;">
        
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

            </p>
        </div>
        <div class="col-sm-1" style="background-color:  rgb(230, 230, 230)">
        </div>
        <div class="col-sm-4" style="background-color:  rgb(230, 230, 230)">
            <div class="container" style="height: 90%; background-color:  white;">
                <h1 class='text-center mb-3' style="color:darkcyan">Visualizations</h1>
                <div class="col-sm">
                    <div class="col-sm">
                        <div class="row">
                            <img src="http://via.placeholder.com/120x120" class="rounded mx-auto img-thumbnail"
                             alt="..." style="border-width:1px; border-color: darkcyan;">
                            <img src="http://via.placeholder.com/120x120" class="rounded mx-auto img-thumbnail" 
                            alt="...">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <img src="http://via.placeholder.com/120x120" class="rounded mx-auto img-thumbnail" alt="...">
                            <img src="http://via.placeholder.com/120x120" class="rounded mx-auto img-thumbnail" alt="...">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}